<h1>GENERALA 1.0</h1>
<h2>Ultron Edition</h2>
<form action="/j1" method="POST">
  <input name="jugadaA" type="submit" value="jugadaA" <%= @@botonJugador1%> />
</form>


<form action="/j2" method="POST">
  <input name="jugadaB" type="submit" value="jugadaB" <%= @@botonJugador2%> />
</form>
<p> <%= @dadosJugador %> </p>
<p>Total Jugador 1 : <%= @TotalJugador1 %> </p>
<p>Total Jugador 2 : <%= @TotalJugador2 %> </p>

